{% extends 'baseArtiste.html.twig' %}

{% block title %}About index
{% endblock %}

{% block body %}

	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Une Galerie d'art en ligne</p>
						<h1>A propos de nous</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- featured section -->
	<div class="feature-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-7">
					<div class="featured-text">
						<h2 class="pb-3">
							Pourquoi
							<span class="orange-text">ArtVue</span>
						</h2>
						<div class="row">
							<div class="col-lg-6 col-md-6 mb-4 mb-md-5">
								<div class="list-box d-flex">
									<div class="list-icon">
										<i class="fas fa-shipping-fast"></i>
									</div>
									<div class="content">
										<h3>Livraison Locale</h3>
										<p>Profitez d'une livraison rapide et abordable à travers toute la Tunisie, facilitant l'achat et la réception de vos œuvres d'art préférées sans tracas ni frais internationaux.</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 mb-5 mb-md-5">
								<div class="list-box d-flex">
									<div class="list-icon">
										<i class="fas fa-money-bill-alt"></i>
									</div>
									<div class="content">
										<h3>Interaction Artistique</h3>
										<p>Interagissez directement avec les artistes, découvrez leurs inspirations et processus créatifs, et créez des connexions authentiques avec la communauté artistique.</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 mb-5 mb-md-5">
								<div class="list-box d-flex">
									<div class="list-icon">
										<i class="fas fa-briefcase"></i>
									</div>
									<div class="content">
										<h3>Expérience Personnalisée</h3>
										<p>Personnalisez votre expérience artistique en créant des collections d'art uniques selon vos goûts et intérêts, et suivez vos artistes préférés pour rester informé de leurs dernières créations.</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6">
								<div class="list-box d-flex">
									<div class="list-icon">
										<i class="fas fa-sync-alt"></i>
									</div>
									<div class="content">
										<h3>Exploration Intuitive</h3>
										<p>Explorez facilement notre plateforme conviviale grâce à des fonctionnalités de recherche avancées et une navigation intuitive, adaptée à tous les niveaux d'expertise en art.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end featured section -->

	<!-- shop banner -->
	<section class="shop-banner">
		<div class="container">
			<h3>Découvrez notre galerie<br>
				avec des
				<span class="orange-text">offres spéciales !</span>
			</h3>
			<div class="sale-percent">
				<span>
					Profitez-en maintenant !</div>
				<a href="{{ path('app_galerie') }}" class="cart-btn btn-lg">Galerie</a>
			</div>
		</section>
		<!-- end shop banner -->

		<!-- team section -->
		<div class="mt-150">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 offset-lg-2 text-center">
						<div class="section-title">
							<h3>Notre
								<span class="orange-text">Equipe</span>
							</h3>
							<p>Rencontrez notre équipe passionnée, dévouée à vous offrir une expérience exceptionnelle. Chacun de nous apporte son expertise et sa créativité pour donner vie à vos projets.</p>
						</div>
					</div>
				</div>
				<div class="row" >
					<div class="col-lg-4 col-md-6"  >
						<div class="single-team-item" >
							<div class="team-bg team-bg-1"></div>
							<h4>Nourhen
								<span>Ferjeni</span>
							</h4>
							<ul class="social-link-team">
								<li>
									<a href="#" target="_blank">
										<i class="fab fa-facebook-f"></i>
									</a>
								</li>
								<li>
									<a href="#" target="_blank">
										<i class="fab fa-twitter"></i>
									</a>
								</li>
								<li>
									<a href="#" target="_blank">
										<i class="fab fa-instagram"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-4 col-md-6" >
						<div class="single-team-item" >
							<div class="team-bg team-bg-2"></div>
							<h4>Takwa
								<span>Ouelhazi</span>
							</h4>
							<ul class="social-link-team">
								<li>
									<a href="#" target="_blank">
										<i class="fab fa-facebook-f"></i>
									</a>
								</li>
								<li>
									<a href="#" target="_blank">
										<i class="fab fa-twitter"></i>
									</a>
								</li>
								<li>
									<a href="#" target="_blank">
										<i class="fab fa-instagram"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-4 col-md-6" >
						<div class="single-team-item" >
							<div class="team-bg team-bg-3"></div>
							<h4>Khalil
								<span>Mtaallah</span>
							</h4>
							<ul class="social-link-team">
								<li>
									<a href="#" target="_blank">
										<i class="fab fa-facebook-f"></i>
									</a>
								</li>
								<li>
									<a href="#" target="_blank">
										<i class="fab fa-twitter"></i>
									</a>
								</li>
								<li>
									<a href="#" target="_blank">
										<i class="fab fa-instagram"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="row" >
					<div class="col-lg-4 col-md-6">
						<div class="single-team-item">
							<div class="team-bg team-bg-4"></div>
							<h4>Meriem
								<span>Saieb</span>
							</h4>
							<ul class="social-link-team">
								<li>
									<a href="#" target="_blank">
										<i class="fab fa-facebook-f"></i>
									</a>
								</li>
								<li>
									<a href="#" target="_blank">
										<i class="fab fa-twitter"></i>
									</a>
								</li>
								<li>
									<a href="#" target="_blank">
										<i class="fab fa-instagram"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="single-team-item">
							<div class="team-bg team-bg-5"></div>
							<h4>Arij
								<span>Abidi</span>
							</h4>
							<ul class="social-link-team">
								<li>
									<a href="#" target="_blank">
										<i class="fab fa-facebook-f"></i>
									</a>
								</li>
								<li>
									<a href="#" target="_blank">
										<i class="fab fa-twitter"></i>
									</a>
								</li>
								<li>
									<a href="#" target="_blank">
										<i class="fab fa-instagram"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
						<div class="single-team-item">
							<div class="team-bg team-bg-6"></div>
							<h4>Oumeyma
								<span>Benkram</span>
							</h4>
							<ul class="social-link-team">
								<li>
									<a href="#" target="_blank">
										<i class="fab fa-facebook-f"></i>
									</a>
								</li>
								<li>
									<a href="#" target="_blank">
										<i class="fab fa-twitter"></i>
									</a>
								</li>
								<li>
									<a href="#" target="_blank">
										<i class="fab fa-instagram"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end team section -->

		<!-- testimonail-section -->
		<div class="testimonail-section mt-80 mb-150">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 offset-lg-1 text-center">
						<div class="testimonial-sliders">
							<div class="single-testimonial-slider">
								<div class="client-avater">
									<img src="{{ asset('TemplateClient/assets/img/avaters/avatar1.png ') }}" alt="">
								</div>
								<div class="client-meta">
									<h3>Saira Hakim
										<span>Local shop owner</span>
									</h3>
									<p class="testimonial-body">
										" Sed ut perspiciatis unde omnis iste natus error veritatis et  quasi architecto beatae vitae dict eaque ipsa quae ab illo inventore Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium "
									</p>
									<div class="last-icon">
										<i class="fas fa-quote-right"></i>
									</div>
								</div>
							</div>
							<div class="single-testimonial-slider">
								<div class="client-avater">
									<img src="{{ asset('TemplateClient/assets/img/avaters/avatar2.png') }}" alt="">
								</div>
								<div class="client-meta">
									<h3>David Niph
										<span>Local shop owner</span>
									</h3>
									<p class="testimonial-body">
										" Sed ut perspiciatis unde omnis iste natus error veritatis et  quasi architecto beatae vitae dict eaque ipsa quae ab illo inventore Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium "
									</p>
									<div class="last-icon">
										<i class="fas fa-quote-right"></i>
									</div>
								</div>
							</div>
							<div class="single-testimonial-slider">
								<div class="client-avater">
									<img src="{{ asset('TemplateClient/assets/img/avaters/avatar3.png ') }}" alt="">
								</div>
								<div class="client-meta">
									<h3>Jacob Sikim
										<span>Local shop owner</span>
									</h3>
									<p class="testimonial-body">
										" Sed ut perspiciatis unde omnis iste natus error veritatis et  quasi architecto beatae vitae dict eaque ipsa quae ab illo inventore Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium "
									</p>
									<div class="last-icon">
										<i class="fas fa-quote-right"></i>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end testimonail-section -->


	{% endblock %}
