<form method="post" action="{{ path('app_oeuvre_concours_delete', {'id': oeuvre_concour.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ oeuvre_concour.id) }}">
    <button class="btn">Delete</button>
</form>
