{% extends 'base.html.twig' %}

{% block title %}OeuvreConcours index{% endblock %}

{% block body %}
    <h1>OeuvreConcours index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for oeuvre_concour in oeuvre_concours %}
            <tr>
                <td>{{ oeuvre_concour.id }}</td>
                <td>
                    <a href="{{ path('app_oeuvre_concours_show', {'id': oeuvre_concour.id}) }}">show</a>
                    <a href="{{ path('app_oeuvre_concours_edit', {'id': oeuvre_concour.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_oeuvre_concours_new') }}">Create new</a>
{% endblock %}
