{% extends 'baseArtiste.html.twig' %}

{% block title %}New Venteencheres{% endblock %}

{% block body %}
		<img src="{{ asset('TemplateClient/assets/img/galerie1.jpeg')}}" alt="Description de l'image">

    <h1>Create new Venteencheres</h1>

    {{ include('venteencheres/_form.html.twig') }}

    <a href="{{ path('app_venteencheres_index') }}">back to list</a>
{% endblock %}
