{% extends 'baseClient.html.twig' %}

{% block title %}New Offreenchere{% endblock %}

{% block body %}
<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Vibrant et Inspirant</p>
						<h1>Offres</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->
    {# Affichage des messages flash #}
<div style="margin:100px;">
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    <p>Prix de départ : {{ prixComparaison }}</p>

    {{ include('offreenchere/_form.html.twig') }}

    <a href="{{ path('app_offreenchere_index') }}">retour</a>
    </div>
{% endblock %}
