{% extends 'base.html.twig' %}

{% block title %}New Offreenchere{% endblock %}

{% block body %}
    <h1>Create new Offreenchere</h1>

    {{ include('offreenchere/_form.html.twig') }}

    <a href="{{ path('app_offreenchere_index') }}">back to list</a>
{% endblock %}
