<form method="post" action="{{ path('app_categorie_delete', {'idcategorie': categorie.idcategorie}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette catégorie ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categorie.idcategorie) }}">
    <button class="btn">Delete</button>
</form>
