<form method="post" action="{{ path('app_panieroeuvre_delete', {'id': panieroeuvre.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ panieroeuvre.id) }}">
    <button class="btn">Delete</button>
</form>
